[submodule "gfx-virtualization"]
	path = gfx-virtualization
	url = https://github.com/intel-sandbox/applications.virtualization.mf-tiberos-itep.git
	branch = itep-demo-k
[submodule "intel-kubevirt"]
	path = intel-kubevirt
	url = https://github.com/smitesh-sutaria/kubevirt.git
