[Unit]
Description=IDV Setup
After=network.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/bin/bash -c 'cd /opt/idv/init && ./setup_display.sh'
ExecStart=/usr/bin/X
ExecStartPost=/bin/bash -c 'cd /opt/idv/init && ./setup_sudo_permissions.sh'
ExecStartPost=/bin/bash -c 'cd /opt/idv/init && ./setup_sriov_vfs.sh'
User=root
Group=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
