[Unit]
Description=IDV Setup
After=graphical.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStartPre=-/bin/bash -c 'cd /usr/bin/idv/init && /usr/bin/sudo ./setup_display.sh'
ExecStart=/usr/bin/sudo /usr/bin/X
ExecStartPost=/bin/bash -c 'set -o pipefail; cd /usr/bin/idv/init && /usr/bin/sudo ./setup_sriov_vfs.sh | systemd-cat -t idv-init-service'
ExecStartPost=/usr/bin/xhost +
ExecStartPost=/bin/bash -c 'openbox &'
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
