[Unit]
Description=IDV Setup
After=graphical.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStartPre=-/bin/bash -c 'cd /usr/bin/idv/init && /usr/bin/sudo ./setup_display.sh'
ExecStart=/usr/bin/sudo /usr/bin/X
ExecStartPost=/bin/bash -c 'sleep 3 && cd /usr/bin/idv/init && /usr/bin/sudo ./setup_sriov_vfs.sh'
ExecStartPost=/usr/bin/xhost +
ExecStartPost=/bin/bash -c 'openbox &'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
