[Unit]
Description=IDV service to launch VMs
After=idv-init.service

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/bin/bash -c 'set -o pipefail; sleep 5 && cd /usr/bin/idv/launcher && /usr/bin/sudo ./start_all_vms.sh | systemd-cat -t idv-launcher-service'
ExecStop=/bin/bash -c 'cd /usr/bin/idv/launcher && /usr/bin/sudo ./stop_all_vms.sh'
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
